<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.dslengineering.org/p3demo/P3DemoDsl" 
       class = "org.dslengineering.p3demo.p3DemoDsl.P3DemoDslPackage"
       genModel = "org/dslengineering/p3demo/P3DemoDsl.genmodel" /> 
	
  </extension>





</plugin>
